
<h1 class="text-secondary">連結</h1>


    <% @links.each do |link| %>
      <div class="clearfix">

          <div class="btn-group">
            <h3 class="text-info">
              <a href="<%= link.link %>", target="_blank">
                <%= link.title %><br>
              </a>
            </h3>
              Last edited: <%= time_ago_in_words(link.updated_at) %> by <%= link.user.email %> <br><br>
              <%= link_to '詳情', link, class: "btn btn-primary" %>
              <% if link.user == current_user %>

                <%= link_to '編輯', edit_link_path(link), class: "btn btn-info" %>
                <%= link_to '刪除', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                <br>

              <% end %>
              <hr> 
          </div>
        </tr>
      </div>
    <% end %>

<br>